<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nombre</key>
	<string>Juan</string>
	<key>nacionalidad</key>
	<string>Colombiano</string>
	<key>ciudades</key>
	<array>
		<string>Bogota</string>
		<string>Medellin</string>
		<string>Cartagena</string>
	</array>
	<key>elementos</key>
	<array>
		<array>
			<string>Canelazo</string>
			<string>Monzerate</string>
			<string>Andres Carne de Res</string>
		</array>
		<array>
			<string>Parque Explora</string>
			<string>Metro</string>
			<string>Plaza Botero</string>
		</array>
		<array>
			<string>Castillo San Felipe</string>
			<string>Ciudad Amurallada</string>
			<string>Cholon</string>
		</array>
	</array>
</dict>
</plist>
